<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-us</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppStore.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>20.3</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>20.3</string>
	<key>HPDBookAccessPath</key>
	<string>redirect.html</string>
	<key>HPDBookIconPath</key>
	<string>../GlobalArt/AppIconDefault_AppStore.png</string>
	<key>HPDBookIndexPath</key>
	<string>search.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>kbase</string>
	<key>HPDBookKBURL</key>
	<string>http://www.info.apple.com/searchredir.html?bucket=helpviewer&amp;lang='lang'&amp;as_oq='product'&amp;val='query'</string>
	<key>HPDBookRemoteURL</key>
	<string>https://help.apple.com/appstore/mac/10.11/</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookUsesExternalViewer</key>
	<false/>
	<key>HPDClipTOCWidth</key>
	<integer>190</integer>
	<key>HPDMaxWindowWidth</key>
	<integer>938</integer>
</dict>
</plist>
