<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALPlugInBlockBased</key>
	<string>NO</string>
	<key>ALPlugInCapabilities</key>
	<array>
		<string>IgnoreSingleCharacterWords</string>
		<string>IgnoreWordsAllUppercase</string>
		<string>IgnoreWordsWithNumbers</string>
		<string>IgnoreRomanNumerals</string>
		<string>IgnoreNumbers</string>
		<string>CaseSensitiveSpellCheck</string>
		<string>FindUncapitalizedStartOfSentence</string>
		<string>FindRepeatedWords</string>
	</array>
	<key>ALPlugInLanguages</key>
	<dict>
		<key>HyphenationService</key>
		<array>
			<string>cs_CZ</string>
			<string>pl_PL</string>
			<string>sk_SK</string>
			<string>hu_HU</string>
			<string>ru_RU</string>
			<string>el_GR</string>
			<string>tr_TR</string>
			<string>uk_UA</string>
			<string>he_IL</string>
		</array>
		<key>SpellingService</key>
		<array>
			<string>cs_CZ</string>
			<string>pl_PL</string>
			<string>sk_SK</string>
			<string>hu_HU</string>
			<string>ru_RU</string>
			<string>el_GR</string>
		</array>
		<key>UserDictionaryService</key>
		<array>
		</array>
	</dict>
	<key>ALPlugInName</key>
	<string>WinSoft</string>
	<key>ALPlugInServices</key>
	<array>
		<string>SpellingService</string>
		<string>HyphenationService</string>
		<string>UserDictionaryService</string>
	</array>
	<key>ALPlugInUpdate</key>
	<string>NO</string>
	<key>ALPlugInVersion</key>
	<string>1.3</string>
	<key>BuildDate</key>
	<string>Mon Sep 15 2014 09:00:000</string>
	<key>BuildVersion</key>
	<string>0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WRLiloPlugin1.3</string>
	<key>CFBundleGetInfoString</key>
	<string>1.3.5rc1, Copyright (c) 2006 - 2014 Winsoft SA.</string>
	<key>CFBundleIdentifier</key>
	<string>com.winsoft.wrliloplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WRLiloPlugin1.3</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.5rc1</string>
	<key>CFBundleSignature</key>
	<string>WNST</string>
	<key>CFBundleVersion</key>
	<string>1.3.5rc1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>DD94C04E-4CCF-4637-9E53-752A7A9B9AC1</key>
		<string>MyFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>76F84477-D7FD-46CE-8914-16C7B08FDD35</key>
		<array>
			<string>DD94C04E-4CCF-4637-9E53-752A7A9B9AC1</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
</dict>
</plist>
