<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adobe Product Build</key>
	<string>20150529.r.88</string>
	<key>Adobe Product Version</key>
	<string>16.0.0</string>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
				<string>pdd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PrimaryFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
				<string>8BIM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>pdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PDFIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PDF file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF </string>
				<string>APDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_JPEGFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop JPEG file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PNGFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PNG file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNG </string>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fxg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_FXGFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop FXG file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FXG </string>
				<string>FXGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kmz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_KMZFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Earth 4 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>KMZ </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>obj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_OBJFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wavefront|OBJ file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OBJ </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>u3d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_U3DFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>U3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>U3D </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fl3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_FL3FileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flash 3D</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FL3 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3ds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_3DSFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>3DS file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3DS </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ple</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PLEFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>PLE file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BLE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MTLFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>OBJ material file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MTL </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dae</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_DAEFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>COLLADA file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DAE </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p3l</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_P3LFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Light Preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>P3L </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_P3MFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Material Preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>P3M </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p3r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_P3RFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Render Settings Preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>P3R </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pct</string>
				<string>pict</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PictFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PICT file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PS_Pict-RFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PICT Resource file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PICT</string>
				<string>SCRN</string>
				<string>RSRC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GIFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop GIF file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIF </string>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eps</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_EPSFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop EPS file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sct</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ScitexFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Scitex file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>..CT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_TargaFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Targa file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_BMPFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop BMP file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pcx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GenericFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PCX file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PCX </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GenericFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cineon Image Format file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GenericFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Raw file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PRAW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PSBPrimaryFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Large Document file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pxr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PixarIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Pixar file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_TiffFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop TIFF file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wbmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_WBMPIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Wireless Bitmap file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WBMP</string>
				<string>WBPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cr2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_CR2FileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Canon Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_CRWFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Canon Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_DCRFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Kodak Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dng</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_DNGFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Digital Negative file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dng_pe_dcp.icns</string>
			<key>CFBundleTypeName</key>
			<string>DNG Camera Profile file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcpr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dng_pe_pr.icns</string>
			<key>CFBundleTypeName</key>
			<string>DNG Camera Profile Recipe file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ERFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Epson Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mos</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MOSFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Leaf Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_FFFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3fr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_3FRFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MEFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mfw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MFWFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IIQ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_IIQFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nrw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_NRWFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rwl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_RWLFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SRWFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mrw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MRWFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Minolta Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_NEFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nikon Electronic Format file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ORFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Olympus Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PEFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Pentax Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_RAFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fujifilm Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SRFFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sony Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>x3f</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_X3FFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Foveon Camera Raw file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_JP2Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop JPEG2000 JP2 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JP2 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_JPXIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop JPEG2000 JPX file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPX </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_EXRFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Open EXR file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PBMFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Portable Bit Map file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PBM+</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hdr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_HDRFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Radiance file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RHDR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psp</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PrefsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop preferences file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PS_TempIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop temporary file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BVM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PluginIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Plug-in file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BAM</string>
				<string>8BCM</string>
				<string>8BEM</string>
				<string>8BFM</string>
				<string>8BIF</string>
				<string>8LIZ</string>
				<string>8BPI</string>
				<string>8BSM</string>
				<string>8BXM</string>
				<string>8BYM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ClutIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop CLUT file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aco</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SwatchIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop swatches file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_KernalIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop convolution kernel file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ahs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ScreenIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop halftone screen file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BHS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_TransIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop transfer file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BTF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>api</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_INKSIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop inks file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_CurveIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop curves file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MapIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop curves map file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BLT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_LevelsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop levels file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BLS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ahu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_HSLIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop HSL file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BHA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>eap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_EAPIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop exposure file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BEA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ASVIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop selective color file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ado</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_DuoIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop duotone file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BDT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aco</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ColorsFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop colors file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCO</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>abr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_BrushesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop brushes file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BBR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>act</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ClutIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Save for Web CLUT file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iros</string>
				<string>irs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PrefsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Save for Web Settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IrOS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_VariationSetupIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop variations file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BVS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>axt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ExtractFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop extract file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>atn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ActionsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop actions file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BAC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ColorBookIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop color book file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ffo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FileFileInfo.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop file info file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BFI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>grd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GradientIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop gradient file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BGR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cha</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MixerIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop channel mixer file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icm</string>
				<string>icc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ProfileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop color profile file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>prof</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ams</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MonitorIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop monitor setup file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BMS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ShapesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop custom shapes file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ContoursIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop contours file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BFS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PatternIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop patterns file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_StylesIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop styles file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ase</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASE_Swatch.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Exchangeable Swatch file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASEF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ToolIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop tool presets file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BTP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_BWIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop black and white presets file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BBW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tb0</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ThumbIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop file browser thumbnail cache file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BTC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md0</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MetaIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop file browser metadata cache file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BMT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Workspace file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>wksp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CSF_ColorSettings.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe color settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AsCs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ProofIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe proof settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AsPs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kys</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_KBSCIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop keyboard shortcut file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8KSC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mnu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MNUIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop menu customization file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8MNU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pmg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PMGIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop PhotoMerge panoramic composition file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PhMg</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SetupIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop separation setup file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ast</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SeparationsIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop separations table file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BST</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ScratchFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop scratch file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_SHIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop shadow/highlight settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BSH</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_MatchIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Match Color image statistics file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BIS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PS_DSDropletIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Droplet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_EPRFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop AME preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>epr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hdt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_HDTFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop HDR Toning preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HDRT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zvt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ZVTFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Zoomify preset file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8Bzv</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psdx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_PSDXFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe PSDX Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>psdx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p3e</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_P3EFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Repousse Preset File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8B3E</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_GenericFileIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Adobe Photoshop CC 2015</string>
	<key>CFBundleGetInfoString</key>
	<string>16.0.0 (20150529.r.88 2015/05/29:23:59:59)</string>
	<key>CFBundleIconFile</key>
	<string>PS_AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.Photoshop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>16.0.0 (20150529.r.88 2015/05/29:23:59:59)</string>
	<key>CFBundleName</key>
	<string>Photoshop CC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.0</string>
	<key>CFBundleSignature</key>
	<string>8BIM</string>
	<key>CFBundleVersion</key>
	<string>16.0.0.88</string>
	<key>CGDisableCoalescedUpdates</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>Yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright  © 1990-2015 Adobe Systems Incorporated</string>
	<key>NSPrincipalClass</key>
	<string>PhotoshopNSApplication</string>
	<key>UIDisallowUserKeyboardShortcuts</key>
	<true/>
</dict>
</plist>
