<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IPPMPEGDecoder</string>
	<key>CFBundleGetInfoString</key>
	<string>IPPMPEGDecoder 8.0.0, Copyright © 2014 Adobe Systems Incorporated.  All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.IPPMPEGDecoder.framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IPPMPEGDecoder</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>8.0.0.0</string>
	<key>DTCompiler</key>
	<string>com.intel.compilers.icc.14_0_0</string>
	<key>DTPlatformBuild</key>
	<string>5A3005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Adobe Systems Incorporated.  All rights reserved.</string>
</dict>
</plist>
