<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Solarize</string>
	<key>CFBundleGetInfoString</key>
	<string>16.0.0  ©1993-2015 Adobe Systems Incorporated</string>
	<key>CFBundleName</key>
	<string>Solarize</string>
	<key>CFBundlePackageType</key>
	<string>8BFM</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.0</string>
	<key>CFBundleSignature</key>
	<string>8BIM</string>
	<key>CFBundleVersion</key>
	<string>16.0.0</string>
</dict>
</plist>
