<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.adobehunspellplugin2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>10.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>ALPlugInDllName</key>
	<string>libadobehunspellplugin</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>1D01EFC5-B0D8-45B5-8C3A-529EFF46EB63</key>
		<string>PluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>D16C3D1C-4CFF-4266-8661-A3481C969639</key>
		<array>
			<string>1D01EFC5-B0D8-45B5-8C3A-529EFF46EB63</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>ALPlugInBlockBased</key>
	<string>NO</string>
	<key>ALPlugInName</key>
	<string>Hunspell</string>
	<key>ALPlugInVersion</key>
	<string>10.0.0.21596</string>
	<key>ALPlugInServices</key>
	<array>
		<string>SpellingService</string>
		<string>HyphenationService</string>
		<string>UserDictionaryService</string>
	</array>
	<key>ALPlugInLanguages</key>
	<dict>
		<key>SpellingService</key>
		<array>
			<string>bn_IN</string>
			<string>gu_IN</string>
			<string>hi_IN</string>
			<string>kn_IN</string>
			<string>ml_IN</string>
			<string>mr_IN</string>
			<string>or_IN</string>
			<string>pa_IN</string>
			<string>ta_IN</string>
			<string>te_IN</string>
			<string>ar_AE</string>
			<string>bg_BG</string>
			<string>ca_ES</string>
			<string>cs_CZ</string>
			<string>da_DK</string>
			<string>de_CH</string>
			<string>de_CH@1996</string>
			<string>de_CH@2006</string>
			<string>de_DE</string>
			<string>de_DE@1901</string>
			<string>de_DE@1996</string>
			<string>de_DE@2006</string>
			<string>el_GR</string>
			<string>en_CA</string>
			<string>en_GB</string>
			<string>en_US</string>
			<string>es_ES</string>
			<string>et_EE</string>
			<string>fr_FR</string>
			<string>fr_CA</string>
			<string>he_IL</string>
			<string>hr_HR</string>
			<string>hu_HU</string>
			<string>it_IT</string>
			<string>lt_LT</string>
			<string>lv_LV</string>
			<string>nb_NO</string>
			<string>nl_NL</string>
			<string>nl_NL@1995</string>
			<string>nl_NL@2005</string>
			<string>nn_NO</string>
			<string>pl_PL</string>
			<string>pt_BR</string>
			<string>pt_BR@ORTH</string>
			<string>pt_PT</string>
			<string>ro_RO</string>
			<string>ru_RU</string>
			<string>sk_SK</string>
			<string>sl_SI</string>
			<string>sv_SE</string>
			<string>tr_TR</string>
			<string>uk_UA</string>
			<string>en_US+Medical</string>
		</array>
		<key>HyphenationService</key>
		<array>
			<string>bn_IN</string>
			<string>gu_IN</string>
			<string>hi_IN</string>
			<string>kn_IN</string>
			<string>ml_IN</string>
			<string>mr_IN</string>
			<string>or_IN</string>
			<string>pa_IN</string>
			<string>ta_IN</string>
			<string>te_IN</string>
			<string>bg_BG</string>
			<string>ca_ES</string>
			<string>cs_CZ</string>
			<string>da_DK</string>
			<string>de_CH</string>
			<string>de_CH@1996</string>
			<string>de_CH@2006</string>
			<string>de_DE</string>
			<string>de_DE@1901</string>
			<string>de_DE@1996</string>
			<string>de_DE@2006</string>
			<string>el_GR</string>
			<string>en_CA</string>
			<string>en_GB</string>
			<string>en_US</string>
			<string>es_ES</string>
			<string>et_EE</string>
			<string>fi_FI</string>
			<string>fr_CA</string>
			<string>fr_FR</string>
			<string>hr_HR</string>
			<string>hu_HU</string>
			<string>it_IT</string>
			<string>lt_LT</string>
			<string>lv_LV</string>
			<string>nb_NO</string>
			<string>nl_NL</string>
			<string>nl_NL@1995</string>
			<string>nl_NL@2005</string>
			<string>nn_NO</string>
			<string>pl_PL</string>
			<string>pt_BR</string>
			<string>pt_BR@ORTH</string>
			<string>pt_PT</string>
			<string>ro_RO</string>
			<string>ru_RU</string>
			<string>sk_SK</string>
			<string>sl_SI</string>
			<string>sv_SE</string>
			<string>tr_TR</string>
			<string>uk_UA</string>
		</array>
		<key>UserDictionaryService</key>
		<array>
			<string>bn_IN</string>
			<string>gu_IN</string>
			<string>hi_IN</string>
			<string>kn_IN</string>
			<string>ml_IN</string>
			<string>mr_IN</string>
			<string>or_IN</string>
			<string>pa_IN</string>
			<string>ta_IN</string>
			<string>te_IN</string>
			<string>ar_AE</string>
			<string>bg_BG</string>
			<string>ca_ES</string>
			<string>cs_CZ</string>
			<string>da_DK</string>
			<string>de_CH</string>
			<string>de_CH@1996</string>
			<string>de_CH@2006</string>
			<string>de_DE</string>
			<string>de_DE@1901</string>
			<string>de_DE@1996</string>
			<string>de_DE@2006</string>
			<string>el_GR</string>
			<string>en_CA</string>
			<string>en_GB</string>
			<string>en_US</string>
			<string>es_ES</string>
			<string>et_EE</string>
			<string>fi_FI</string>
			<string>fr_CA</string>
			<string>fr_FR</string>
			<string>he_IL</string>
			<string>hr_HR</string>
			<string>hu_HU</string>
			<string>it_IT</string>
			<string>lt_LT</string>
			<string>lv_LV</string>
			<string>nb_NO</string>
			<string>nl_NL</string>
			<string>nl_NL@1995</string>
			<string>nl_NL@2005</string>
			<string>nn_NO</string>
			<string>pl_PL</string>
			<string>pt_BR</string>
			<string>pt_BR@ORTH</string>
			<string>pt_PT</string>
			<string>ro_RO</string>
			<string>ru_RU</string>
			<string>sk_SK</string>
			<string>sl_SI</string>
			<string>sv_SE</string>
			<string>tr_TR</string>
			<string>uk_UA</string>
			<string>en_US+Medical</string>
			<string>lang_neutral</string>
		</array>
		<key>UserDictionarySpellingService</key>
		<array>
			<string>lang_neutral</string>
		</array>
	</dict>
	<key>ALPlugInCapabilities</key>
	<array>
		<string>IgnoreNumbers</string>
		<string>IgnoreWordsWithNumbers</string>
		<string>IgnoreWordsAllUppercase</string>
		<string>IgnoreSingleCharacterWords</string>
		<string>FindUncapitalizedStartOfSentence</string>
		<string>FindRepeatedWords</string>
	</array>
</dict>
</plist>
