<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>servletName</key>
	<string>headlights/FileDataCaptureServlet</string>
	<key>useSSLLayer</key>
	<true/>
	<key>serverEndPointURL</key>
	<string>apip.adobe.com</string>
</dict>
</plist>
